@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bolder;
  }

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18.72px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 13.28px;
  }
  h6 {
    font-size: 10.72px;
  }
}

input, textarea{
  @apply focus:outline-none
}

li{
  @apply px-3 py-3 text-nowrap
}

li:has(.active){
  @apply bg-secondaryColor
}

.container{
  @apply px-2
}

@media screen and (max-width: 1023px) {
  .hero-text {
    width: 100%;
  }
}